.list {
    align-items: center;
}

.sprite-pokemon{
    height: 150px;
}
.row{
    display: inline-flex;
    width: 100%;
}
.card {
    margin: 8px;
    text-transform: capitalize;
    border-width: 3px;
    border-style: solid;
    border-radius: 12px;
    display: flex;
    height: 150px;
}
.text-name {
    font-weight: bold;
}
.text-info {
    padding-left: 16px;
}
.card-content {
    padding: 16px;
    border-radius: 12px;
    background-color: white;
    width: 100%;
}